/*Stylesheet for Indian Restaurant Web Design Project*/
/*

/*BODY*/

body{
	font-family: 'roboto','arial',sans-serif;
	margin: 0px;
}

/* style header elements */

#searchBar{

	padding: 5px;
}

#breadCrumb a {
	background-color: grey;
}

/* header element */

/*LAYOUT*/

.container{
	//width: 80%;
	//max-width: 1200px;
	padding:0% 10%;
	margin: 0px auto;
	
}

.sectionGrey{
	padding-top: 40px;
	background-color: #FFEF91;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin-bottom: 30px;
	
	
}




.column3 {
	float: left;
	width: 33.3%;
	
	
}

.column2{
	float: left;
	width: 50%;
}

.column4{
	float: left;
	width: 25%;
}

.column1{
	//float:left;
	width: 80%;
	margin: auto;
	text-align:center;
}

.col-3-img{
	width: 90%;
	height:200px;
	padding-right: 15px;
}

.col-4-img{
	width: 90%;
	height:150px;
	padding-right: 15px;
	
}


.clear{
	clear: both;
}

/*TEXT STYLING*/

h1{
	font-size: 16px;
	text-transform:uppercase;
	margin: 0px;
	color: #da8908;
}

h2{
	font-size: 40px;
	
	
}

h3{
	font-size: 25px;
	//margin-bottom: 15px;
}

h2, h3 {
	text-align: center;
	margin: 15px 0px 15px 0px;
}

h4{
	text-align: center;
	font-size: 15px;
	line-height:25px;
	font-style: italic;
}

p{
	font-size: 16px;
}

.bodyText{
	text-align: left;
	padding-right: 15px;
}

/*HERO SECTION*/

#hero {
	height: 400px;
	text-align: center;
	background: url("../images/carosel2.jpg") no-repeat center fixed;
	background-size: cover;
	
	
}

#hero h2{
	line-height: 250px;
	color: #da8908;
	font-size: 60px;
	text-shadow: 1px 1px 1px black;
}

#hero li a{
	color: red;
}


/*SITE ID & UTILITIES*/

#breadCrumbs {
	display: inline-block;
	//float: right;
}

#siteidUtilitiesBar{
	margin:0px auto;
	text-align: center;
	height: 50px;
	line-height:50px;
	
	

}

.utilities-left{
	width: 40%;
	float: left;
	//display: inline-block;
}

.utilities-right{
	width: 40%;
	float: right;
	//display: inline-block;

	
}

.utilities-right{
	width: 40%;
	float: right;
	//display: inline-block;
	
}
#header{
	width: 1100px;
	margin: 0 auto;
}


#logo {
	float: left;
	
}

#breadCrumbs{
	font-size: 10px;
	display: inline;
	margin-right: 50px;
}

#searchBar{
	height: 15px;
	width: 100px;
	border-radius: 10%;
}


/*NAVIGATION*/

#navbar {
	background-color: #B2123D;
	//background-color: #da8908;
	//height:20px;
	padding: 5px 0px;
	margin: 0 auto;
	
}

ul{
	text-align: center;
}

ul li{
	display: inline-block;
	padding-right: 5px;
	text-decoration: none;
}

ul li a{
	color: #e6d5d5;
	font-size: 18px;
}


a:hover{
	color: #42bcf4;
}

/*OPENING HOURS SECTION*/

#openingHours{
	background-color: #B2123D;
	padding-top: 40px;
	color: #f2f2f2;
}

iframe{
	width: 100%;
	height: 350px;
	border: 2px solid grey;
	margin-bottom: 30px;
}

.columnOpeningHours {
	//float: left;
	width: 50%;
	margin: 0px auto;
}

table {
	margin:auto;
	border:1px solid black;
}

tr:nth-child(odd) {
	background-color: #595959;
}
tr:nth-child(even) {
	background-color: #999999;
}

th, td {
    padding: 10px 20px;
    text-align: left;
}

.phoneEmail{
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 30px;
}

/*CONTACT FORM*/

fieldset{
	width:75%;
	margin: 15px auto;
	border: 2px solid grey;
	border-radius: 5px;
	background-color: #ad210a;
	color: white;
	padding: 20px;
	
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#submitQuestion {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    float: left;
}
#comments{
	width: 100%;
	margin-right: 10px;
}
label{
	margin: 5px;
	text-align: left;
	float: left;
}

fieldset button{
	
	padding: 5px;
	font-weight: bold;
}


/* carousel ------------ */

.slider {
  margin: 10px 0;
  width: 1100px; /* Update to your slider width */
  height: 400px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
 
}
/* carousel end ------ */	

/*STYLE FOR RESERVATION MODAL WINDOW*/

<<<<<<< HEAD
=======
/*STYLE FOR RESERVATION MODAL WINDOW*/

>>>>>>> 45da81b190ce8a50d5bfbd665e62e096b4b8c124
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*FOOTER SECTION*/
#footerNavbar {
	background-color: #242121;
	//height:20px;
	padding: 5px 0px;
	margin: 0 auto;
	
}